<footer>
    <div class="footer-info">
        <div class="f-info-social">
            <a href="https://github.com/yadavluv2004" target="_blank">
                <i class="fa-brands fa-square-github"></i>
            </a> 
            <a href="https://leetcode.com/u/yadavluv/" target="_blank">
                <i class="fa-solid fa-code"></i>
            </a>
            <a href="https://www.linkedin.com/in/luv-yadav-989424263" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>

        <div class="f-brand">
            &copy; StayNest Private Limited
        </div>

        <div class="f-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
